<div class="topic">

	<div class="votes">
  	<div class="vote_box">
  		<strong><%= topic.topic_votes_count %></strong>
  		<div class="label">votes</div>
  	</div>
  	<span style="font-size:.9em">
    	<% if current_user && !topic.topic_votes.find_by_user_id(current_user) %>
    	  <%= link_to('vote', vote_topic_path(topic), :method => :post) %>
    	<% else %>
    	  &nbsp;
  	  <% end %>
	  </span>
	</div>
	
	<div class="description">
	  <%=h topic.description %>  
	</div>
	
	<br/>
	
	<span class="presenter_label">
	  <% if current_user && topic.presenter == current_user %>
	    You are the presenter for this topic, need to cancel?
      <%= link_to('remove topic', topic_path(topic), :method => :delete, :confirm => "Are you sure you want to delete this topic?") if current_user == topic.presenter || current_user == topic.requester %>
	  <% elsif topic.presenter %>
      Presenter: <%= link_to topic.presenter.name, users_path(:anchor => topic.presenter.id) %>
	  <% elsif current_user %>
      <%= link_to 'volunteer to present', volunteer_topic_path(topic), :method => :put, :confirm => 'You will be assigned as presenter for this topic' %>
    <% else %>
      <%= link_to 'sign in', login_path %> and volunteer to present
	  <% end %>
	</span>

</div>

<br style="clear:both;"/>
