<% @title = "new member" %>
<p>Please take a moment to fill out your member profile. This information will be displayed on the members page so everyone in the group can get to know you. This site uses Gravatar for your profile picture, which is linked by the email address you provide. If you do not wish to show up on the members page, leave the About You section blank.</p>

<% semantic_form_for @user do |form| %>
	<%= form.error_messages %>
	<% form.inputs do %>
	  <%= form.input :identity_url, :label => "OpenID URL", :hint => "This is your OpenID URL and cannot be changed after signup", :required => true %>
	  <%= form.input :name, :label => "Full Name", :required => true %>
	  <%= form.input :email, :hint => "Your email address will link to your <a target=\"_blank\" href=\"http://gravatar.com\">Gravatar</a>	to display a profile picture.", :required => true %>
		<%= form.input :bio, :label => "About You", :input_html => { :rows => 10 } %>
	  <%= form.input :url, :label => "Personal URL", :hint => "Share your website or blog URL" %>
	  <%= form.input :twitter, :label => "Twitter User" %>
	  <%= form.input :display, :label => "Display my information in the member directory" %>
	  <%= form.input :available, :label => "I'm available for taking on ruby/rails projects" %>
	<% end %>
  <%= form.buttons %>
<% end %>

<%= link_to 'Back', users_path %>